/*Global*/
h1,
p {
  margin: 0px;
}

body {
  box-sizing: border-box;
  font-family: Helvetica, Arial, Sans-serif;
  color: #222222;
  height: auto;
  margin: 60px 0px 0px 0px;
}

/*Container*/
.container {
  box-sizing: border-box;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding: 30px 30px;
  /*Style*/
  background-color: rgb(216, 216, 216);
  border: 2px solid #7c7c7c;
  /*Shadow*/
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.6);
}

/*Ajustes*/
div h1 {
  text-align: center;
}

p {
  margin-top: 8px;
}

input {
  margin-top: 8px;
}

#outTitulo {
  margin-top: 16px;
}
