.container {
  box-sizing: border-box;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 20px;
}

.container h1 {
  margin-bottom: 16px;
}

.container #resposta {
  margin-top: 16px;
}

/*GLOBAL*/
body {
  margin: 0px;
  font-family: Helvetica, Arial, sans-serif;
  color: #222222;
  box-sizing: border-box;
  height: auto;
}
h1,
p {
  margin: 0px;
  display: block;
  text-align: center;
}
